body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2B2B2B;
    color: #BABABA;
}
table, th, td {
    border: 3px solid #BABABA;
}
th, td {
    padding: 15px;
    text-align: left;
}
table {
    width: 80%;
    border-collapse: collapse;
}