<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|Rachunek: ${bill.title}|"></title>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
</head>
<body>
<h2 th:text='|"${bill.title}" ${bill.title}|'></h2>
<ul>
    <li th:text="${bill.deadline}"></li>
    <li th:text="${bill.status}"></li>
</ul>
</body>
</html>