<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rachunki</title>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
</head>
<body>

<h1>Lista rachunków</h1>

<table>
    <tr>
        <th>ID</th>
        <th>NAZWA</th>
        <th>WARTOŚĆ</th>
        <th>TERMIN DO</th>
    </tr>
    <tr th:each="bill : ${bills}">
        <td th:text="${bill.id}"></td>
        <td>
            <a th:href="@{'/bills/' + ${bill.id}}" th:text="${bill.title}"></a>
        </td>
        <td th:text="${bill.value}"></td>
        <td th:text="${bill.deadline}"></td>
    </tr>
</table>
</body>
</html>